<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Thesis"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".AddActivity"
            android:label="Add Student"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Camera"
            android:label="Camera"
            android:parentActivityName=".AddActivity" />
        <activity android:name=".AnswerKey" />
        <activity
            android:name=".MainActivity"
            android:label="MCQ Checker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>